@font-face {
  font-family: "dirt";
  src: url("../fonts/MursGothic-WideDark.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "oswail";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "dirt-li";
  src: url("../fonts/Dirtyline36Daysoftype2022");
}

@font-face {
  font-family: "impact";
  src: url("../fonts/impact.ttf");
}

  @font-face {
    font-family: "Dirtyline 36Daysoftype 2022";
    src: url('../fonts/Dirtyline36Daysoftype2022-Reg.eot');
    src: url('../fonts/Dirtyline36Daysoftype2022-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dirtyline36Daysoftype2022-Reg.woff2') format('woff2'),
         url('../fonts/Dirtyline36Daysoftype2022-Reg.woff') format('woff'),
         url('../fonts/Dirtyline36Daysoftype2022-Reg.ttf') format('truetype'),
         url('../fonts/Dirtyline36Daysoftype2022-Reg.svg#Dirtyline36Day') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "dirt";
  /* font-family: "sans-serif"; */
  /* font-family: 'Dirtyline36Day', sans-sereif; */
  color: #fff;
}
body {
  background-color: #121315;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2.4% 6%;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #000000;
}
.header-in {
  width: 100%;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav--item {
  width: 33%;
}
.nav--item:nth-child(2) {
  text-align: center;

  a {
    color: #fff;
    font-size: 20px;
    padding: 15px 40px ;
    border: 2px solid #ffff;
    border-radius: 10px;
  }
}
.nav--item:nth-child(3) {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-family: sans-serif;
  font-weight: 500 !important;
  font-size: 15px;
}
.burger--item {
  font-family: sans-serif;
}
.burger {
  width: 2.7rem;
  height: 2.7rem;
  padding: 0 2%;
  margin-right: 3%;
  overflow: hidden;
  background-color: #a6a9b033;
  border-radius: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  span {
    transition: all 0.3s ease;
    display: block;
    width: 90%;
    height: 2px;
    background-color: #fff;
  }
  .second-it {
    width: 60%;
  }
}

/* HERO */
.hero {
    padding-top: 10%;
    display: flex;
    align-items: center;
}
.text-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  flex-direction: column;
}
h1 {
  text-transform: uppercase;
  font-size: clamp(32px, 10vw, 82px);
  margin-bottom: 5%;
  font-weight: 700;
  font-family: 'impact';
  font-weight: normal;
}
.hero-info {
    font-size: 18px;
    font-weight: lighter !important;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
/* HERO */

/* ABOUT-US */
.about-us {
    padding-top: 15%;
}
.about-us__in {
    width: 100%;
}
.about-us__text {
    width: 100%;
    display: flex;
    flex-direction: column;
}
h2 {

  text-transform: uppercase;
  font-size: clamp(28px, 8vw, 78px);
  margin-bottom: 5%;
  font-weight: normal;
}

.about-us__info {
    margin: 3% 0;
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    font-weight: lighter !important;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 3%;
}
.about-us__diogram {
    padding: 5% 0;
    width: 100%;
    height: 700px;
    background-image: url("../assets/img/bium-001.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}
.about-us__second-in {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.about-us__btn {
    padding: 15px 30px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
}
/* ABOUT-US */
/* CARDS */
.cards {
    padding: 10% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    padding: 5% 10%;
    margin: 0 10px;
    width: 500px;
    height: 385px;
    margin-bottom: 100px; /* Ensure margin between rows */
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .card-title {
        width: 100%;
        text-align: left;
        font-size: clamp(42px, 15vw, 102px);  
        margin-bottom: 3%;

    }
    p {
        width: 100%;
        font-size: clamp(18px, 5vw, 32px);
        text-align: right;
    }
}
.card:nth-child(2n) {
    margin-top: 100px;
    background-color: red;
}

/* CARDS */
/* PARTNERS */
.partners-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    p {
        align-self: center;
    }
}
.partners-cards {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 3%;
}
.partner-card {
    margin: 3% 0;
    width: 380px !important;
    height: 500px;
    border-radius: 30px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #fff;
    text-align: center;
    p {
        font-size: 14px;
        margin-top: 5%;
        margin-bottom: 20%;
        font-family: Arial, Helvetica, sans-serif;
    }
    img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin-bottom: 3%;
    }
    .h3 {
        font-size: 16px;
    }
    .h4 {
        font-size: 13px;
    }
}
/* PARTNERS */
/* NETWORKS */
.networks-partners-text {
    width: 100%;
    text-align: center;
}
.networks-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.networks--links {
    margin: 3% 0;
    color: #fff;
    text-decoration: none;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2%;
    font-size: 30px;
    border-bottom: 2px solid gray;
    img {
        width: 7vh;
    }
}
/* NETWORKS */
/* ANSWER */
.answer-title {
    margin: 10% 0 !important;
    text-align: center;
  font-size: clamp(32px, 8vw, 75px);

}
.answer-item {
    margin: 5% 0 !important;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    img {
        margin-top: 3% !important;
        display: block;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
    }
}
.arrow {
    transition: transform 0.3s;
}
.content {
    margin-top: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}
.content p {
    margin: 0;
    font-family: sans-serif;

}
.active .content {
    max-height: 100vh;
}
.active .arrow {
    transform: rotate(90deg);
}
/* ANSWER */
/* footer */
footer {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #000;
    h2 {
  font-size: clamp(22px, 6vw, 52px);
    }
}
/* footer */
/* MEDIA */
@media only screen and (max-width: 1000px) {
    
.card:nth-child(2n) {
    margin-top: 0px;
}
.card {
    width: 100%;
    justify-content: center;
    height: 50vh;
    margin-bottom: 50px;
}
.partners-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us__diogram {
    padding: 0;
    width: 100%;
    height: 300px;
    background-image: url("../assets/img/bium-001.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: #000;
}
}
@media only screen and (max-width: 600px) {
    
  .container {
    padding: 5% 4%;
  }
  .burger {
    width: 2rem;
    height: 2rem;
    padding: 0 5%;
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .second-it {
    width: 70%;
  }
  }

  .nav--item:nth-child(1) {
    margin-right: 10px;
  }
  .nav--item:nth-child(2) {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    a {
      font-size: 10px;
      text-align: center;
      padding: 10px 20px;
    }
  }
  .nav--item:nth-child(3) {
    gap: 7px;
    font-family: sans-serif;
    font-weight: 400 !important;
    font-size: 13px;
  }
  /* HERO ADAPTIVE */

    .hero {
        padding-top: 17%;
    }
    .hero-info {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
  /* HERO ADAPTIVE */
    /* ABOUT-US */
    .about-us__title {
        font-size: 40px;
    }
    .about-us__info {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    .about-us__second-in { 
        justify-content: flex-start;
    }
    /* ABOUT-US */

    /* PARTNERS */
    .partners-text {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p {
            align-self: flex-start;
        }
    }
    .partners-cards {
        margin-top: 10%;
    }
    /* PARTNERS */
    /* NETWORKS */

    .networks--links {
        margin: 3% 0;
        width: 100%;
    }

    /* NETWORKS */
    .partners-cards  {
        width: 100%;
    }
    .partner-card {
        width: 100% !important;
    }
    aside {
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .side-bar-nav--list {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .links--item  {
            width: 100%;
            margin: 5% 0;
            text-align: center;
        }
        ul {
            width: 100%;
        }
    }
}
/* MEDIA */

/* side-bar */
aside {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: #121315;
    top: 0;
    .aside-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.links--item  {
    margin: 5% 0;
    text-align: right;
}
.links--item:last-child {
    img {
        width: 50px;
        height: 50px;
    }
}
.side-bar--link {
  font-size: clamp(32px, 10vw, 82px);

}
body.side-bar aside {
    display: block;
}
body.side-bar {
    overflow: hidden;
}
body.side-bar 
.burger {
  gap: 10%;
  transition: all 0.4s ease;
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg) translateY(3px) translateX(3px);
    
  }
  .second-it {
    width: 100%;
    transform: rotate(-45deg) translateY(-3px) translateX(1.5px);
  }
}

/* side-bar */